# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*

# Playwright test report directory
playwright-report/
test-results/

# Playwright storage state file
auth/login.json